div.tapes-result-container{
    height: 200px;
    width: 400px;
    background-color: #cccccc;
    position: fixed;
    z-index: 2;
    padding: 5px;
    overflow: auto;
    display: none;
}

#addAutomataEntry{
    margin-left: 60px;
    margin-top: -5px;
}

#prototype_automata{
    border: 1px solid black;
}
#resultFita{
    padding-left: 10%;
}
#test-list{
    padding: 10px;
}

.tape a{
    font-weight: bolder;
    font-size: 18;
    color: red;
}

.tape{
    padding-bottom: 2px;
    padding-left: 5px;
    letter-spacing: 10px;
    font-size: 18px;
}

p.resultBoolean{
    font-size: 28px;
    font-weight: bolder;
    color: red;
    text-align: center;
}